<header class="header-me">
    <div class="grid wide">
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item header__nav-item--separate-r"><a class="header__nav-link" href="/login">Kênh người bán</a></li>
                <li class="header__nav-item header__nav-item--separate-r"><a class="header__nav-link" href="/login">Trở thành người bán</a></li>
                <li class="header__nav-item header__nav-item--qr">
                    <a class="header__nav-link">
                        Tải ứng dụng
                    </a>
                    <!-- Header QR Code -->
                    <div class="header__qr">
                        <img src="/img/qr-code.png" alt="QR Code" class="header__qr-img">
                        <div class="header__qr-apps">
                            <img src="/img/app-store.png" alt="App Store" class="header__qr-apps-img">
                            <img src="/img/google-play.png" alt="Google Play" class="header__qr-apps-img">
                            <img src="/img/app-gallery.png" alt="App Gallery" class="header__qr-apps-img">
                        </div>
                    </div>
                    <!---->
                </li>
                <li class="header__nav-item header__nav-item--separate-l nowrap">
                    <span class="title-no-pointer">Kết nối</span>
                    <a class="haeder__nav-icon-link" href="javascript:void(0)"><i class="header__nav-icon fa-brands fa-facebook"></i></a> 
                    <a class="haeder__nav-icon-link" href="javascript:void(0)"><i class="header__nav-icon fa-brands fa-square-instagram"></i></a>
                </li>
            </ul>
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a class="header__nav-link" href="javascript:void(0)">
                        <i class="header__nav-icon header__nav- fa-regular fa-circle-question"></i> Hỗ Trợ
                    </a>
                </li>
                <li class="header__nav-item header__nav-item--language nowrap">
                    <i class="header__nav-icon header__nav- fa-solid fa-globe"></i> 
                    <p class="header__nav-item-text">Tiếng Việt</p>
                    <i class="header__nav-icon header__nav- fa-solid fa-chevron-down"></i>
                        <!-- Language -->
                        <div class="header__language header_arrow-language">
                            <ul class="header__language-list">
                                <li class="header__language-item active">Tiếng Việt</li>
                                <li class="header__language-item">English</li>
                            </ul>
                        </div>
                        <!---->
                </li>
                <li class="account">
                    <img src="/img/tak.jpg" alt="">
                    <div class="account__info">
                        <h4>Nam Hoang</h4>
                        <p>User</p>
                    </div>

                    <div class="account__options header_arrow-language">
                        <ul class="account__options-list">
                            <a href="/me/account/profile">
                                <li>Tài khoản của tôi</li>
                            </a>
                            <a href="/me/admin/data">
                                <li>Quản trị viên</li>
                            </a>
                            <a href="/">
                                <li>Đăng xuất</li>
                            </a>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="media-form">
            <div class="media-form__logo">
                <a href="/" class="media-form__logo-link">
                    <img src="/img/logo__shop.png" alt="" class="media-form__logo-img">
                </a>
            </div>
            <div class="media-form__search">
                <div class="media-form__search-bar">
                    <div class="media-form__search-bar-form">
                        <input type="text" class="media-form__search-input" placeholder="Bạn muốn tìm gì?">
                        <button class="media-form__search-but">
                            <i class="search-but fa-solid fa-magnifying-glass"></i>
                        </button>
                        <div class="suggest-form">
                            <a href="/signup" class="suggest-form__link">
                                <p class="suggest-form__text">

                                </p>
                                <img src="/img/free-shipping.png" alt="" class="suggest-form__img">
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="media-form__list">
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Đồ 1k</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">iPhone 14 Pro Max</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Dép Nữ</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Set Đồ Nữ</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Áo 1k</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Áo Kiểu Hàn Quốc</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Đồ Dùng Học Tập</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Đồ 1k Free Ship</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Dây Sạc iPhone</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Dây Sạc iPhone</a></li>
                    <li class="media-form__item"><a href="javascript:void(0)" class="media-form__item-link">Dây Sạc iPhone</a></li>
                </ul>
            </div>
            <!-- Shopping Cart -->
            <div class="media-form__shopping-cart">
                <a href="/me/cart" for="modal__log-checkbox"><i class="shopping-cart-but fa-solid fa-cart-shopping"></i></a>
                <div class="header__shopping-cart header_arrow-shopping-cart">
                    <div class="header__shopping-cart-content">
                        <img src="/img/no-cart.png" alt="" class="header__shopping-cart-img">
                        <p class="header__shopping-cart-text">Chưa Có Sản Phẩm</p>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
</header>

<div class="container__account">
    <div class="grid wide">
        <div class="row">
            <div class="account__nav col l-3">
                <div class="edit__nav-acc">
                    <div class="edit__account__nav-acc">
                        <img src="/img/tak.jpg" alt="">
                        <label for="fileInput">Chọn ảnh</label>
                        <input type="file" id="fileInput" accept="image/*" style="display: none;">

                    </div>
                    <div class="edit__nav-acc-info">
                        <h4>Nam Hoang</h4>
                    </div>
                </div>

                <div class="account__nav-item">
                    <div class="account__nav-item-acc">
                        <a href="/me/account/profile">
                            <i class="fa-solid fa-address-book"></i>
                            Tài khoản của tôi
                        </a>
                        <ul>
                            <a href="/me/account/profile" class="active">Tài khoản</a>
                            <a href="javascript:void(0)">Địa chỉ</a>
                            <a href="/me/account/password">Đổi mật khẩu</a>
                        </ul>
                    </div>

                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-clipboard-list"></i>
                        Đơn mua
                    </a>
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        Lịch sử mua hàng
                    </a>
                </div>
            </div>

            <div class="edit__content col l-9">
                <h3>Chỉnh sửa tài khoản</h3>

                <div class="edit__content-detail">
                    <form action="">
                        <table>
                            <tr>
                                <td>
                                    <h4>Tên đăng nhập</h4>
                                </td>

                                <td>
                                    <li>
                                        Nam Hoang
                                        <a href="">Thay đổi</a>
                                    </li>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h4>Tên</h4>
                                </td>

                                <td>
                                    <li>
                                        <input type="text" id="name" name="name" value="Ngô Kim Hoàng Nam">
                                    </li>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h4>Địa chỉ Email mới</h4>
                                </td>

                                <td>
                                    <li>
                                        <input type="email" id="email" name="email" placeholder="Nhập vào địa chỉ email">
                                    </li>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h4>Số điện thoại mới</h4>
                                </td>

                                <td>
                                    <li>
                                        <input type="tel" id="phone" name="phone" placeholder="Nhập vào số điện thoại">
                                    </li>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h4>Giới tính</h4>
                                </td>

                                <td>
                                    <li class="gender">
                                        <div class="">
                                            <input checked type="radio" id="male" name="gender" value="male">
                                            <label for="male">Nam</label>
                                        </div>

                                        <div class="">
                                            <input type="radio" id="female" name="gender" value="female">
                                            <label for="female">Nữ</label>
                                        </div>

                                        <div class="">    
                                            <input type="radio" id="other" name="gender" value="other">
                                            <label for="other">Khác</label>
                                        </div>
                                    </li>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <h4>Ngày sinh</h4>
                                </td>

                                <td>
                                    <li class="time">
                                        <select id="day" name="day">
                                            <option value="">Ngày</option>
                                            <script>
                                                for (let i = 1; i <= 31; i++) {
                                                    document.write(`<option value="${i}">${i}</option>`);
                                                }
                                            </script>
                                        </select>

                                        <select id="month" name="month">
                                            <option value="">Tháng</option>
                                            <script>
                                                for (let i = 1; i <= 12; i++) {
                                                    document.write(`<option value="${i}">Tháng ${i}</option>`);
                                                }
                                            </script>
                                        </select>

                                        <select id="year" name="year">
                                            <option value="">Năm</option>
                                            <script>
                                                let currentYear = new Date().getFullYear();
                                                for (let i = currentYear; i >= 1900; i--) {
                                                    document.write(`<option value="${i}">${i}</option>`);
                                                }
                                            </script>
                                        </select>
                                    </li>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div class="modal__auth-or-button">
                    <button type="button" class="password__btn btn btn-outline-success">
                        <p class="modal__auth-or-but-text">Lưu</p>
                    </button>
                    <a href="/me/account/profile" type="button" class="password__btn btn btn-outline-danger">
                        <p class="modal__auth-or-but-text">Huỷ</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>